*{
    margin: 0px;
    padding: 0px;
}
.main-container{
    background-color: rgb(52, 51, 51);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.maius{
    display: flex;
}
.itam{
    margin-right: 10px;
    padding-right: 7px;
    font-size: 18px;
    cursor: pointer;
}
.itam:hover{
    color: rgb(174, 30, 181);
}
.logo-photo{
width: 150px;
}

.banner-img{
    width: 300px;
}
.benner-containar{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    /* border: 2px solid gray; */
    background-image: url("../images/background.png"),
    linear-gradient(45deg,rgb(8, 8, 8),#292929);
    color: white;
}
.title{
    font-size: 54px;
    font-weight: bold;
}
.title-tag{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    
}
.about-containal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.about-title{
    text-align: center;
    padding: 20px;
}
.box{
    height: 230px;
    width: 2800px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
}
.icon{
    width: 70px;
}
.btn-box-btn{
    background-color: gray;
    margin-top: 10px;
}
.box-title{
    padding: 10px;
}
.box-title -m{
    padding: 5px;
}
.serves-contarnar{
    display: flex;
    justify-content:space-around;
    padding: 20px;
}
